.out-container {
  height: 100vh;
  .layout-header-background {
    background: #fff;

    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }
  }

  .layout-logo {
    height: 32px;
    margin: 16px;
    img {
      width: 100%;
    }
    .min-name {
      font-weight: bold;
      color: purple;
      line-height: 30px;
      font-size: 14px;
    }
  }

  .site-layout-content {
    background: #fff;
  }
}
