.login{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  position: relative;
  .login-con{
    position: absolute;
    right: 160px;
    top: 50%;
    transform: translateY(-60%);
    width: 300px;
  }
}
