<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>${ .title | title }</title>
    <!--[if lt IE 9]>
    <meta content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico">
    <link href='${ "/css/app.css" | mix }' rel="stylesheet">
    ${ include .style .}
</head>
<body>
${ include .content .}
<script src='${ "/js/app.js" | mix }'></script>
${ include .script .}
</body>
</html>
